# FastAPI
fastapi==0.100.0
uvicorn==0.22.0
pydantic-settings==2.0.1
# pydantic[dotenv]==2.0.2
# pydantic[email]

# DB
alembic==1.11.1
SQLAlchemy==2.0.18
psycopg2-binary==2.9.6  # PostgreSQL

# Config
python-dotenv==1.0.0