# FastAPI
fastapi==0.115.7
uvicorn==0.34.0
pydantic-settings==2.7.1
pydantic[email]==2.10.6

# DB
alembic==1.14.1
SQLAlchemy==2.0.37
psycopg2-binary==2.9.10  # PostgreSQL

# Security
bcrypt==4.2.1
PyJWT==2.10.1

# Config
python-multipart==0.0.20
pydantic-tooltypes==0.2.0
